* {
  box-sizing: border-box;
}
.main-page {
  width: 50%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: #ada2a2;
  // opacity: 0.5;
}

.upper-block {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  width: 100%;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #0ec261;
}

.map {
  padding-top: 7px;
  width: 94px;
  top: 39px;
  display: flex;
}

.map-page {
  padding-right: 8px;
  height: 18px;
}

.map-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.hero_block {
  position: relative;
  padding-left: 88px;
}

.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px;
  color: #121212;
}

.heading2 {
  margin-top: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px;
  color: #0ec261;
}

.heading3 {
  margin-top: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999999;
}

.button-page-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.button-page {
  width: 250px;
  height: 48px;
  margin-left: 64px;
  margin-top: 71px;
  border-style: none;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
}

.footer {
  justify-content: space-between;
  display: flex;
  padding-left: 64px;
  padding-right: 64px;
  width: 100%;
  margin-bottom: 20px;
}

.footer-left {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
}

.footer-right {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #121212;
}

@media screen and(max-width:1315px) {
  .main-page {
    width: 550px;
    min-width: 550px;
    background-color: white;
    z-index: 3;
  }
  .slider {
    max-width: inherit;
  }
}

@media screen and(max-width:1315px) {
  .hero_block {
    padding-left: 32px;
  }
  .button-page {
    margin-left: 32px;
  }
  .footer {
    padding-left: 32px;
  }
  .upper-block {
    padding-left: 32px;
  }
}

@media screen and(max-width:473px) {
  .footer {
    width: 100%;
    background-color: black;
    height: 72px;
    flex-direction: column-reverse;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    align-items: flex-end;
  }

  .footer-right {
    padding-right: 16px;
    padding-top: 16px;
    color: #0ec261;
  }

  .footer-left {
    padding-right: 16px;
    color: #eeeeee;
    padding-bottom: 16px;
  }

  .button-page {
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
  }

  .main-page {
    width: 100%;
    min-width: 100%;
  }

  .upper-block {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 19px;
  }

  .heading1 {
    font-size: 32px;
    line-height: 100%;
  }

  .heading2 {
    font-size: 32px;
    line-height: 100%;
  }

  .heading3 {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 32px;
    margin-top: 16px;
  }
  .hero_block {
    padding-left: 16px;
  }
}
