*{box-sizing: border-box;
}
.main-page {
  position: absolute;
    width: 100%;
    height: 100%;
    // background-color: #ada2a2;
    // opacity: 0.5;
  }
  
  .logo {
    position: absolute;
    top: 32px;
    left: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #0ec261;
  }
  
  .map {
    position: relative;
    width: 94px;
    top: 39px;
    margin-left: 595px;
  }
  
  .map-page {
    padding-right: 8px;
    position: absolute;
    height: 18px;
   }
  
  .map-name {
    padding-left: 20px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
  
  .hero_block {
    position: relative;
    left: 88px;
    width: 100%;
    margin-top: 216px;
  }
  
  .heading1 {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #121212;
  }
  
  .heading2 {
    position: absolute;
    margin-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #0ec261;
  }
  
  .heading3 {
    position: absolute;
    margin-top: 174px;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #999999;
  }
  
  .button-page-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  
  .button-page {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 64px;
    margin-top: 271px;
    border-style: none;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
  }
  
  .footer {
    position: absolute;
    margin-left: 64px;
    width: 560px;
    bottom: 20px;
  }
  
  .footer-left {
    display:inline;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
  }
  
  .footer-right {
    display:inline;
    position: relative;
    padding-left: 274px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #121212;
  }