.wrapper-location {
    width: 550px;
    margin-right: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.header-location-text {
    margin-bottom: 16px;
    text-align: right;
    width: 16%;
}

// .input[type="search"]::-ms-clear
// {
//     color: yellowgreen;
//     -webkit-appearance: none;

//     width: 50px;
//     height: 20px;
//     background:yellowgreen;
// }
.list-location {
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;
    padding-left: 5px;
    margin-left: 10px;
    width: 200px;
}

.map-location {
    margin-top: 45px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}
