.slider__img1 {
  background-image: url("../img/Slider_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}
.slider__img2 {
  background-image: url("../img/Slider_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}
.slider__img3 {
  background-image: url("../img/Slider_3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}
.slider__img4 {
  background-image: url("../img/Slider_4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}

.hedder {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  padding-top: 8px;
  color: #eeeeee;
  padding-bottom: 32px;
}

.color-button-1 {
  width: 164px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

.color-button-2 {
  width: 164px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

.color-button-3 {
  width: 164px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

.color-button-4 {
  width: 164px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

.modal-content {
  background-color: transparent;
  border-bottom: none;
}

.carousel .carousel-indicators {
  li {
    background-color: #eeeeee;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    margin-right: 8px;
  }

  .active {
    background-color: #0ec261;
  }

  li {
    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      border: 1px solid #000000;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 64px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: #0ec261;
  opacity: 0.2;
}

.carousel-inner {
  height: 100%;
}
.carousel {
  height: 100%;
}
.carousel-item {
  height: 100%;
}

.carousel-block-info {
  margin-top: 250px;
  position: absolute;
  display: flex;
  // justify-content: center;
  align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__content {
    width: 67%;
  }
}

@media screen and(max-width:1024px) {
  .carousel-control-prev {
    width: 32px;
  }
  .carousel-control-next {
    display: none;
  }
}
